@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    font-weight: 400;
    font-style: normal;
}
.box{
    width: 80%;
    margin: auto;
    display: flex;gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}
.box2{
    display: flex;gap: 30px;
    align-items: center;

}
.box3{
    display: flex;gap: 10px;
}
.button{
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 400px;
    background-color: white;
    border: none;
}
.button2{
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 400px;
    background-color:rgba(21, 21, 21, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
.box5{
    display: none;
}
@media (max-width:510px) {
    .box4{
        display: none;
    }
    .box3{
        display: none;
    }
    .box5{
        display: block;
    }
    
}
